/**
*	@module			addon_info
*	@version		see info.php of this module
*	@author			cms-lab
*	@copyright		2017-2020 cms-lab
*	@license		GNU General Public License
*	@license_terms	please see info.php of this module
*	@platform		see info.php of this module
*/
.addon_info {Width:100%;margin:0;}
.addon_info a {color: #6da911;text-decoration: none;font-size: 15px;font-weight: bold;}
.addon_info a:hover {color: #333;font-weight: bold;}
